<div class="bg-[#1f0d29] rounded-xl overflow-hidden border-2 border-[#3a2b4e]"> <!-- Deep dark purple background -->
    <div class="p-4 animate-shine">
      <!-- Title with orange text for better contrast -->
      <h5 class="text-lg font-semibold text-orange-300">{{ title }}</h5> <!-- Orange text -->
      <!-- Value with clear white text for readability -->
      <p class="text-gray-50">{{ value }}</p>
      <p class="text-orange-300">Last Login Session : {{ last_login }}</p>
    </div>
</div>
